{% set title = fields.title.content %}
{% set texto = fields.processed.content %}
{% set tag = fields.field_tipo_publicacion.content %}
<div class="search-result">
  <h4 class="title">{{ title }}</h4>
  <p class="tag">{{ tag }}</p>
  <div class="processed">{{ processed }}</div>
</div>
