{% set title = fields.title.content %}
{% set foto = fields.field_foto_m_home.content %}
{% set texto = fields.field_texto_home.content %}

{% set enlace = fields.field_enlace.content %}
{% set the_url = path('entity.node.canonical', {'node': enlace|striptags|number_format }) %}
<figure class="ambiente-img">
  {{ foto }}
</figure>
<h3 class="home-title right green wow zoomOut">{{ title }}</h3>
<p class="text-center ambiente-text">
  {{ texto }}
</p>
<p class="text-center">
  <a href="{{ the_url }}">Conocer más...</a>
</p>
