{% set title = fields.title.content %}
{% set foto = fields.field_foto_m_home.content %}
{% set texto = fields.field_texto_home.content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="home-title" data-aos="fade-up">{{ title }}</h3>
      <p class="text-small">{{ texto }}</p>
    </div>
    <div class="col-md-6">
      {{ foto }}
    </div>
  </div>
</div>
