{% set logo = fields.field_logo.content %}
{% set enlace = fields.field_enlace_interes.content %}
<div class="col-md-4">
  <figure class="enlace-item">
    <a href="{{ enlace }}">
      {{ logo }}
    </a>
  </figure>
</div>
