{%
  set classes = [
    'container',
    'paragraph--type--' ~ paragraph.bundle|clean_class
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
{% endblock paragraph %}
