{% extends "themes/custom/egemsa/templates/base.html.twig" %}

{% block main %}
<div id="content">
  <div class="form-container">
    {{ page.content }}
    <div class="eg-icon icon-egemsa"></div>
  </div>
</div>
{% endblock %}
